<template>
  <div class="wrapper">
    <h1>{{msg}}</h1>
    <ol class="list" v-if="lists.length">
      <li v-for="list in lists" :key="list._id">
        <router-link :to="list.name.replace(/\s+/g, '-').toLowerCase()">
          {{list.name}}
        </router-link>
      </li>
    </ol>
    <span v-else>Loading...</span>
  </div>
</template>

<script>
  import restPrefix from '../common/rest-prefix'

  export default {
    name: 'home',
    created () {
      this.$http.get(restPrefix)
        .then(res => (this.lists = res.data))
        .catch(err => (console.error('Not able to get any list...', err)))
    },
    data () {
      return {
        msg: 'Home',
        lists: []
      }
    }
  }
</script>

<style scoped>
  .wrapper {
    max-width: 360px;
    margin: 0 auto;
  }

  .list {
    text-align: left;
  }

  h1 {
    color: mediumvioletred;
  }
</style>
