<template>
  <div class="wrapper">
    <h1>{{list.replace(/-+/g, ' ')}}</h1>
    <div>
      <button @click="showAddField = !showAddField">Add item</button>
      <button @click="showRemoveButtons = !showRemoveButtons">
        {{showRemoveButtons ? 'Hide' : 'Show'}} remove buttons
      </button>
      <button @click="reorderItems">{{reorderButtonText}}</button>
      <form v-if="showAddField" v-on:submit="addItem($event)">
        <label><input type="text" v-model="newItem.name" /></label>
        <input type="submit" value="add" />
      </form>
    </div>
    <ol class="list">
      <li v-for="item in orderedItems" :key="item._id">
        {{item.name}}
        <button v-if="showArrows" v-on:click="moveUp(item._id)">Up</button>
        <button v-if="showArrows" v-on:click="moveDown(item._id)">Down</button>
        <button v-if="showRemoveButtons" v-on:click="removeItem(item._id)">X</button>
      </li>
    </ol>
  </div>
</template>

<script>
  import restPrefix from '../common/rest-prefix'

  export default {
    name: 'list',
    props: ['list'],
    data () {
      return {
        endPoint: `${restPrefix}/rating-lists/${this.list}`,
        msg: 'List',
        showAddField: false,
        showRemoveButtons: false,
        showArrows: false,
        reordered: false,
        newItem: { name: '' },
        items: []
      }
    },
    computed: {
      orderedItems () {
        return this.items.sort((prev, next) => prev.rank - next.rank)
      },
      reorderButtonText () {
        if (this.showArrows) {
          return this.reordered ? 'Save new order' : 'Hide arrows'
        } else {
          return 'Show arrows'
        }
      }
    },
    created () {
      this.$http.get(this.endPoint)
        .then(res => (this.items = res.data))
    },
    methods: {
      addItem (e) {
        if (e) e.preventDefault()

        this.$http.post(
          this.endPoint,
          { name: this.newItem.name }
        ).then(res => {
          this.items = [...this.items, ...res.data]
          this.newItem.name = ''
        })
      },
      removeItem (id) {
        this.$http.delete(`${this.endPoint}/${id}`)
          .then(res => (this.items = res.data))
      },
      /**
       * Updates the rank property of this.items
       * @param id
       */
      moveUp (id) {
        this.reordered = true // mark items as reordered
        const currentRank = this.items.find(item => item._id === id).rank

        if (currentRank === 1) return

        this.items = this.items.map(item => {
          if (item.rank === currentRank) {
            item.rank--
          } else if (item.rank === currentRank - 1) {
            item.rank++
          }
          return item
        })
      },
      /**
       * Updates the rank property of this.items
       * @param id
       */
      moveDown (id) {
        this.reordered = true // mark items as reordered
        const currentRank = this.items.find(item => item._id === id).rank

        if (currentRank === this.items.length) return

        this.items = this.items.map(item => {
          if (item.rank === currentRank) {
            item.rank++
          } else if (item.rank === currentRank + 1) {
            item.rank--
          }
          return item
        })
      },
      /**
       * Shows/hides up/down buttons and makes rest call to update the rank property of items
       */
      reorderItems () {
        // if up/down buttons are hidden, just show them
        if (!this.showArrows) {
          this.showArrows = true
          return
        }

        if (this.reordered) {
          // if items have been moved, make a rest-call
          const reorderedItems = this.items.map(item => ({ _id: item._id, rank: item.rank }))
          this.$http.put(`${this.endPoint}/reorder`, { reorderedItems }).then(res => {
            // reset reordered and showArrows flags
            this.reordered = false
            this.showArrows = false
          })
        } else {
          // if items have not been moved, just hide the buttons
          this.showArrows = false
        }
      }
    }
  }
</script>

<style scoped>
  .wrapper {
    max-width: 360px;
    margin: 0 auto;
  }

  .list {
    text-align: left;
  }

  h1 {
    color: orangered;
  }
</style>
